@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Carter+One|Chivo|Chonburi|Gentium+Basic|Kotta+One|Lateef|Racing+Sans+One|Ramabhadra|Salsa|Sansita+One|Schoolbell|Tienne');
body{
	background: #fafafa;
	font-family: 'Gentium Basic', serif;
	font-size: 18px;
}
/*Text colors start*/
.text-white{
color: #fff;
}
.text-white : hover{
	color: #fff;
}
.text-navy{
	color: #072d6b;
}
.text-hash{
	color:#98999b
}
/*Text colors start*/
/*background colors start*/
.bg-white{
	background: #fff;
}
.bg-hash{
	background: #fcfcfc;
}
.bg-tb-head1{
	background: #821b80;
}
/*background colors ene*/
/*Custom borders start*/
.br-dot-1r{
 border-right:1px dotted #000; 
}
.br-dot-1l{
	border-left:1px dotted #ccc;
}
/*Custom borders end*/
/*Allignments Start*/
.full-width{
	width: 100%;
}
.pad-1per{
	padding: 1%;
}
.mar-1per{
	margin:1%;
}
/*Allignments Start*/
/*custom buttons start*/
.btn-category{
	margin-bottom: 10px;
	background: none;
	border:none;
	font-size:14px;
	text-align: left;
}
.btn-category i{
	font-size: 20px;
	background:#680184;
	color: #fff;
	padding: 2%;
	margin-right: 5px;
}
.btn-category:hover{
	background: #777777;
	color: #fff;
}
/*custom buttons end*/
/*font style and size start*/
.font-14{
	font-size: 14px;
}
.font-18{
	font-size: 18px;
}
.main-head{
font-family: 'Carter One', cursive;
}
.sub-head{
font-family: 'Tienne', serif;
}
.small-head{
font-family: 'Chivo', sans-serif;
}
.social-head{
font-family: 'Sansita One', cursive;
}
.ename1{
font-family: 'Salsa', cursive;
}
.ename-suggessions{
	font-family: 'Carter One', cursive;
}
.city-font{	
   font-family: 'Chonburi', cursive;
}
.address{
	font-family: 'Kotta One', serif;
}

.address h5{
	font-size: 16px;
}
.table-head{
font-family: 'Alegreya Sans SC', sans-serif;
}
/*font style and size start*/
/*text-styles start*/
#no-style{
	text-decoration: none;
	cursor: pointer;
}

/*text-styles end*/
/*custome divs start*/
.header-contact-number a{
	color: #fff; 
	text-decoration: none;
}
.home{
background:#680184;
color: #fff;
}
.home:hover{
	background: #777777;
	color: #fff;
}
.home i{
	font-size: 18px;
}
.sec-pad-50-top{
padding-top: 50px;
}
.sec-pad-50-bottom{
padding-bottom: 50px;
}
.banner-caption{
font-size: 36px;
font-weight: bold;
}
.loc-menu{
margin-top: -35px;
height: 35px;
}
.loc-menu > select{
background: #fff;
}
.loc-menu > select > option{
color: #000000;
}
.bg-navy{
background:#fff;
}
.search-menu{
margin-top:8px;
}
.dropdown.dropdown-lg .dropdown-menu {
margin-top: 10px;
padding: 6px 20px;
}
.input-group-btn .btn-group {
display: flex !important;
}
.btn-group .btn {
border-radius: 0;
margin-left: -1px;
}
.btn-group .btn:last-child {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
margin-left: 0;
margin-right: 0;
}
.form-group .form-control:last-child {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.banner-title-bg{
background: #ffffff;
height: 75px;
opacity: 0.3;
filter: alpha(opacity=100);
margin-top: -75px;
}
.banner-title{
margin-top: -100px;
color: #000;
padding: 3%;
font-weight: bold;
text-transform: uppercase;
text-align: center;
}
.result{
background: #9093f5;
}
#myCarousel .nav a small {
display:block;
}
#myCarousel .nav {
background:#eee;
}
#myCarousel .nav a {
border-radius:0px;
}
.full-width-slider{
width: 100%;
}
.first_page{
margin-top: -21px;
}
.zoom-img-4{
border:2px solid #ccc;
width: 100%;
}
.zoom-img-4:hover{
width: 102%;
cursor: pointer;
}
.sresult_box{
cursor: pointer;
width:100%;
background:#fff;
margin-top:10px;
padding-top:5px;
padding-bottom:5px;
box-shadow:  2px 2px 2px 3px #ccc;
}
.rating{
padding: 15px;
color: #a01500;
font-size: 18px;
}
.rating i{
padding: 5px;
}
.pad-top-25{
padding-top:25px;
}
.pad-bottom-25{
padding-bottom:25px;
}
.first-header{
background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 0%, rgba(40,52,59,1) 0%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 0%,rgba(40,52,59,1) 0%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 0%,rgba(40,52,59,1) 0%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
padding:1%;
}
.events-banner{
	background: #fff; 
	border-bottom: 3px dotted #ccc;
}
.events-banhead-right{
	height: 285px; 
	background: #6d6a64; 
	color: #fff;
}
.map{
	height: 150px; 
	width: 100%
}
.rel-events-frame{
	border:1px solid #ccc; 
	margin-bottom:2%; 
	background: #fff; 
	box-shadow: 2px 3px 3px 0px #ccc;
}
.comments-frame{
	background: #fff; 
	padding: 10px
}
.user-comment{
	border:1px solid #e3e4e5; 
	padding: 10px; 
	box-shadow: 2px 2px 3px #e3e4e5; 
	margin: 10px;
}
.user-comment img{
	border:1px solid #f4f4f4; 
	background: #fafafa
}
/*custom divs end*/
footer{
	background:#444444;
	padding: 15px;
	color: #fff;
}
@media screen and (min-width: 768px) {
#adv-search {
width: 500px;
margin: 0 auto;
}
.dropdown.dropdown-lg {
position: static !important;
}
.dropdown.dropdown-lg .dropdown-menu {
min-width: 500px;
}
}
@media screen and (max-width: 768px) {
.banner-caption{
padding-top:50px;
font-size: 16px;
font-weight: bold;
}
.loc-menu{
margin-top: 0px;
height: 35px;
}
.first_page{
margin-top:-20px;
}
.sresult_box{
cursor: pointer;
width:100%;
background:#fff;
border-left: 1px solid #ccc;
border-top: 1px solid #ccc;
margin-top:10px;
padding-top:5px;
padding-bottom:5px;
box-shadow: 2px 3px 3px #ccc;
}
}